*{
    margin:0;
    padding:0;
}
.head{
    min-height:120px;
   display:grid;
place-items:center;  
    background-color:brown;

}
.container{
    min-height:300px;
    background-color:blueviolet;
    display:grid;
    
}
  

.sidebar{
    background-color:rgb(108, 108, 36);
    text-align:center;
    
}
.content{
    background-color:chocolate;
    text-align:center;
    place-items:center;
}

.cards{
    background-color:green;
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:0.5rem;
   padding:3px;
}

.card{
display:grid;
place-items:center;
min-height:120px;
}

.card:nth-of-type(1){
    background-color:blueviolet;
    text-align:center;
}
.card:nth-of-type(2){
    background-color: rgb(60, 93, 139);
    text-align:center;
}
.card:nth-of-type(3){
    background-color: rgb(172, 48, 172);
    text-align:center;
}
.footer{
    height:7rem;
    background-color: cornflowerblue;  
display:grid;
place-items:center;

}