*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}


header{
   background-color: #fb8500;
   
}
#list{
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style:normal ;
  display:flex;
  justify-content:center;
  padding:2rem;
  
}
main{
    background-color:#219ebc;
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;

}




#anime{
position:relative;

}

body{
    background-color: #219ebc;
}

.row1{
    
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-evenly;
    
  
}


#anime1{ 
    height:15rem;
    width:15rem;
    border-radius:5%;
    background-color:#8ecae6;
    text-align:center;
    border:0.0001rem solid black;
    box-shadow:1rem 1rem 2rem black;    
    transition: transform 2s ease;
}





#anime1:hover{
    background-color:#ffb703;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transform:rotateY(150deg);
}




#anime2{ 
    height:15rem;
    width:15rem;
    border-radius:5%;
    background-color:#8ecae6;
    text-align:center;
    border:0.0001rem solid black;
    box-shadow:1rem 1rem 2rem black; 
    transition: transform 2s ease;

    
    
}


#anime2:hover{
    background-color:#ad934f;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transform:rotateY(150deg);

}
#anime3{ 
    height:15rem;
    width:15rem;
    border-radius:5%;
    background-color:#8ecae6;
    text-align:center;
    border:0.0001rem solid black;
     box-shadow:1rem 1rem 2rem black; 
     transition: transform 2s ease;

    
}

#anime3:hover{
    background-color:#eefe5f;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transform:rotateY(150deg);

}




 .row2{
    display:flex;
    flex-direction:column;
 justify-content: space-around;}
      

#anime4{ 
    height:15rem;
    width:15rem;
    border-radius:10%;
    background-color:#8ecae6;
    text-align:center;
    border:0.0001rem solid black;
    flex-wrap:wrap;
    align-self:center;
     margin-top:2rem;
    margin-bottom:2rem;
    box-shadow:1rem 1rem 2rem black; 
    transition: transform 2s ease;

    
}

#anime4:hover{
    background-color:#2c9762;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transform:rotateY(150deg);

}

#dem{
    text-align:center;
   padding:3.2rem;
}
#anime5{ 
    height:15rem;
    width:15rem;
    border-radius:10%;
    background-color:#8ecae6;
    text-align:center;
    border:0.0001rem solid black;
    box-shadow:1rem 1rem 2rem black; 

    transition: transform 2s ease;
   
}
#anime5:hover{
    background-color:#0daeba;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transform:rotateY(150deg);

}

.row3{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-evenly;

}

#anime6{ 
    height:15rem;
    width:15rem;
    border-radius:10%;
    background-color:#8ecae6;
    text-align:center;
    border:0.0001rem solid black;
     box-shadow:1rem 1rem 2rem black; 
     transition: transform 2s ease;
 
}

#anime6:hover{
    background-color:#851837;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transform:rotateY(150deg);

}

#anime7{ 
    height:15rem;
    width:15rem;
    border-radius:10%;
    background-color:#8ecae6;
    text-align:center;
    border:0.0001rem solid black;
    box-shadow:1rem 1rem 2rem black; 
    transition: transform 2s ease;
   
}
#anime7:hover{
    background-color:#c73737;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transform:rotateY(150deg);

}



#n,#su,#de,#dem,#ho,#vi,#jj{
    align-self:center;}
    
    

footer{
    background-color:#023047;

}
#fav{
    
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  text-align:center;
}

#made{
    text-align:center;
    margin-top:1rem;
    color:black;
}
input[type=text]{
    background-color:#a9ab9e;
    color:rgb(120, 10, 115);
    
}
label:hover{
    background-color: #177a78;

}
h1::selection{
    background-color:#46cfd8;
}
h1:hover{
    color:#6e2e80;
    font-family: initial;
}
